
@model ArticleViewModel
@{
    ViewData["Title"] = $"Статья: {Model.Title}";
}
@section scripts{ 
    <script>
        $(document).ready(function () {
            $("#updateButton").click(function () {
                $.ajax({
                    url: '@Url.Action("CanBeUpdated", "Article")',
                    data: 'id=@Model.Id',
                    success: function (a) {
                        $('#articleViewForm').hide();
                        $("#formForUpdateArticle").toggleClass("d-none");


                    }
                })
            })

            $('#refreshPage').click(function (){
                location.reload();
            })
        })
    </script>
}
<div id="formForUpdateArticle" class="d-none">
    @using (Html.BeginForm("UpdateArticle", "Article", FormMethod.Post))
    {
        @Html.HiddenFor(x => x.Id)
        @Html.HiddenFor(x => x.AuthorId)
        <div class="form-group">
            @Html.LabelFor(x => x.Title, new { @for = "Title" })
            @Html.TextAreaFor(x => x.Title, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(x => x.Text,new { @for = "Text" })
            @Html.TextAreaFor(x => x.Text,new { @class = "form-control"})
        </div>
        
        <div class="btn-group">
            <a id="refreshPage" class="btn btn-link">Назад</a>
            <button type="submit" class="btn btn-link">Сохранить</button>
        </div>
        
    }
</div>
<article id="articleViewForm" class="blog-post">
    <h2 class="blog-post-title">@Model.Title</h2>
    <p class="blog-post-meta">Дата написания @Model.CreationDate.ToString("dd MMM yyyy HH:mm:ss")</p>
    @if (Model.LastUpdateDate.HasValue)
    {
        <p class="blog-post-meta">Дата последнего обновлаения @Model.LastUpdateDate.Value.ToString("dd MMM yyyy HH:mm:ss")</p>
    }
    <p class="blog-post-meta">Автор статьи @Model.AuthorName</p>
    <p>@Model.Text</p>
    @if (Model.CanBeUpdated)
    {
        <img id="updateButton" src="~/img/gear.svg" />
    }
</article>